*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  background-color: #f5f3f4;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2em;
  height: 30vh;
  text-align: center;
  background-position: center;
  background-size: cover;
  background-image: radial-gradient(circle, rgba(153, 88, 42, 0.54) 0%, rgba(67, 40, 24, 0.83) 87%), url(../img/bg1-small.jpg);
  background-attachment: scroll;
  color: white;
  margin-top: 6.4rem;
}
.header__heading {
  padding-top: 0.5em;
  font-size: 4.8rem;
}
.header__text {
  padding-top: 2em;
  font-size: 2.5rem;
  font-family: "Dancing Script", cursive;
  font-weight: 400;
}

.navigation {
  width: 100%;
  background-color: #f0d8c1;
  height: 6em;
  margin: 0 auto;
  border-radius: 5px;
  z-index: 15000;
  display: flex;
  position: fixed;
  top: 0;
}

.central-nav {
  height: 6em;
  width: 1200px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: 700;
  font-size: 1em;
  margin-left: 50px;
  font-family: "Dancing Script", cursive;
  border: #432818 1px solid;
  border-radius: 8px;
  background-color: rgb(246, 240, 234);
  background-image: linear-gradient(90deg, rgb(246, 240, 234) 0%, rgb(241, 223, 209) 100%);
  box-shadow: 5px 5px 10px rgba(22, 26, 29, 0.7);
}

.logo img {
  width: 8em;
  height: 100%;
  display: inline-block;
  cursor: pointer;
}

.logo a {
  padding-right: 10px;
  color: #0b090a;
  text-decoration: none;
}

.main-container {
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.main-form {
  height: 35em;
  display: flex;
  width: 70%;
  padding: 10em;
  padding-top: 5em;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgb(246, 240, 234);
  background-image: linear-gradient(90deg, rgb(246, 240, 234) 0%, rgb(241, 223, 209) 100%);
  color: #0b090a;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(22, 26, 29, 0.7);
}

.main-form h2 {
  font-size: 1.5em;
  line-height: 2em;
  text-align: justify;
}

.last-p {
  text-align: center;
  padding-top: 5em;
  font-size: 2em;
  text-transform: uppercase;
}

#address-details {
  text-align: center;
  padding-top: 2em;
  font-size: 1.5em;
  text-transform: uppercase;
}

@media (max-width: 600px) {
  .logo {
    display: none;
  }
  .main-container {
    max-width: 30em;
  }
}
@media (max-width: 767px) {
  .main-container {
    max-width: 40em;
  }
  .logo {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .logo {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 992px) and (min-width: 991px) and (max-width: 1200px) {
  .header {
    background-image: radial-gradient(circle, rgba(153, 88, 42, 0.54) 0%, rgba(67, 40, 24, 0.83) 87%), url(../img/bg1-big.jpg);
  }
  .header__heading {
    font-size: 8rem;
  }
  .header__text {
    padding-top: 1em;
    font-size: 5rem;
  }
}
@media (min-width: 1201px) {
  .header {
    background-image: radial-gradient(circle, rgba(153, 88, 42, 0.54) 0%, rgba(67, 40, 24, 0.83) 87%), url(../img/bg1-big.jpg);
  }
  .header__heading {
    font-size: 8rem;
  }
  .header__text {
    padding-top: 1em;
    font-size: 5rem;
  }
}/*# sourceMappingURL=confirm.css.map */