*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  background-color: #f5f3f4;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2em;
  height: 65vh;
  text-align: center;
  background-position: center;
  background-size: cover;
  background-image: radial-gradient(circle, rgba(153, 88, 42, 0.54) 0%, rgba(67, 40, 24, 0.83) 87%), url(../img/bg1-small.jpg);
  background-attachment: scroll;
  color: white;
  margin-bottom: 10rem;
  margin-top: 6.4rem;
}
.header__heading {
  font-size: 4.8rem;
}
.header__text {
  padding-top: 2em;
  font-size: 2.5rem;
  font-family: "Dancing Script", cursive;
  font-weight: 400;
}

.navigation {
  width: 100%;
  background-color: #d3d3d3;
  height: 6em;
  margin: 0 auto;
  border-radius: 5px;
  z-index: 15000;
  display: flex;
  position: fixed;
  top: 0;
}

.central-nav {
  height: 6em;
  width: 1200px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 5em;
  height: 100%;
  color: #0b090a;
  font-size: 5em;
  font-weight: 700;
  display: inline-block;
  font-family: "Dancing Script", cursive;
  cursor: pointer;
}

.burger-btn {
  position: relative;
  width: 9em;
  height: 90%;
  cursor: pointer;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #0b090a solid 2px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 5px 5px 10px rgba(22, 26, 29, 0.7);
}

.burger-btn img {
  width: 68px;
  height: 68px;
  z-index: 100000000;
}

.burger-btn:active {
  box-shadow: none;
}

.burger-btn div {
  font-size: 1.8em;
  position: absolute;
  right: 5px;
  bottom: 5px;
  border: #0b090a 1px solid;
  width: 30px;
  height: 30px;
  line-height: 25px;
  text-align: center;
  border-radius: 5px;
  background-color: #a4161a;
  color: white;
}

.cart {
  position: fixed;
  top: 6em;
  height: 100vh;
  width: 100%;
  transform: translateX(100%);
  transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
  background-color: #d3d3d3;
  overflow: scroll;
  border: 2px solid black;
  border-radius: 10px;
}

.cart-show {
  transform: translateX(60%);
}

.total-value {
  font-size: 2.5em;
  font-weight: 700;
  padding: 1em;
  background-color: white;
  border-radius: 8px;
}

.div-item {
  padding: 5em;
  position: relative;
  border-bottom: #0b090a 1px solid;
}

.div-item img {
  width: 200px;
  height: 300px;
  padding-bottom: 1.3em;
}

.div-item p {
  font-size: 1.1em;
  padding: 5px;
}

.div-item :nth-child(4) {
  font-weight: 700;
}

.div-item button {
  width: 8em;
  height: 3em;
  border-radius: 30px;
  background-color: #a4161a;
  color: #ffffff;
  font-size: 1.4rem;
  padding: 0.5em 0.2em 0.5em 0.2em;
  border: #ba181b 0.5px solid;
  text-transform: uppercase;
  position: absolute;
  top: 300px;
  left: 300px;
  box-shadow: 5px 5px 10px rgba(22, 26, 29, 0.7);
  cursor: pointer;
  z-index: 10000;
  transition: background-color 0.3s;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.95);
}

.div-item button:hover {
  background-color: #ba181b;
}

.div-item button:active {
  text-shadow: none;
}

.confirm-btn {
  width: 20rem;
  height: 5rem;
  border-radius: 30px;
  background-color: #a4161a;
  color: #ffffff;
  font-size: 1.6rem;
  padding: 0.5em 0.2em 0.5em 0.2em;
  border: #ba181b 0.5px solid;
  text-transform: uppercase;
  box-shadow: 5px 5px 10px rgba(22, 26, 29, 0.7);
  cursor: pointer;
  transition: background-color 0.3s;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.95);
  text-decoration: none;
  margin-top: 40px;
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.confirm-btn:hover {
  background-color: #ba181b;
}

.confirm-btn:active {
  text-shadow: none;
}

.drop-zone {
  border: #a4161a dashed 2px;
}

.main-container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 4em 0.7em 4em 0.7em;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.main-container__books {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  margin: 10px 0 10px 0;
}
.main-container__card {
  position: relative;
  height: 48em;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  background-color: #ffffff;
  color: #0b090a;
  border-radius: 5px;
  padding: 0.4em 0 5em 0;
  box-shadow: 5px 5px 10px rgba(22, 26, 29, 0.7);
  z-index: 10;
  margin: 10px;
  cursor: -webkit-grab;
  cursor: grab;
}
.main-container__card .bookImg {
  width: 25em;
  height: 35em;
  padding: 2em;
  padding-bottom: 1em;
}
.main-container__card p {
  padding: 0.4em;
}
.main-container__card .author {
  font-size: 1em;
}
.main-container__card .title {
  font-size: 1.4em;
  font-weight: 700;
}
.main-container__card .price {
  font-size: 1.6em;
  font-weight: 700;
  padding-bottom: 1.8em;
}
.main-container__button-more {
  width: 8em;
  height: 3em;
  border-radius: 30px;
  background-color: #d3d3d3;
  color: #0b090a;
  font-size: 1.8rem;
  padding: 0.5em 0.2em 0.5em 0.2em;
  border: #d3d3d3 0.5px solid;
  text-transform: uppercase;
  font-weight: 400;
  position: absolute;
  bottom: 40px;
  left: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 10px rgba(22, 26, 29, 0.7);
  cursor: pointer;
  z-index: 10000;
  transition: background-color 0.3s;
  text-shadow: 0.5px 0.5px 3px rgba(0, 0, 0, 0.95);
}
.main-container__button-more:hover {
  background-color: #e9e7e7;
}
.main-container__button-more:active {
  text-shadow: none;
}
.main-container__button-buy {
  width: 8em;
  height: 3em;
  border-radius: 30px;
  background-color: #a4161a;
  color: #ffffff;
  font-size: 1.8rem;
  padding: 0.5em 0.2em 0.5em 0.2em;
  border: #ba181b 0.5px solid;
  text-transform: uppercase;
  font-weight: 400;
  position: absolute;
  bottom: 40px;
  right: 40px;
  box-shadow: 5px 5px 10px rgba(22, 26, 29, 0.7);
  cursor: pointer;
  z-index: 10000;
  transition: background-color 0.3s;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.95);
}
.main-container__button-buy:hover {
  background-color: #ba181b;
}
.main-container__button-buy:active {
  text-shadow: none;
}

.background {
  display: flex;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  color: whitesmoke;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.95);
  z-index: 999;
  margin: 10px;
  border-radius: 5px;
  justify-content: center;
  padding: 3em;
  line-height: 2em;
  font-size: 1.5em;
  -webkit-clip-path: circle(0 at 50% 90%);
          clip-path: circle(0 at 50% 90%);
  transition: -webkit-clip-path 0.5s;
  transition: clip-path 0.5s;
  transition: clip-path 0.5s, -webkit-clip-path 0.5s;
  text-align: justify;
}

.btn-details {
  -webkit-clip-path: circle(120% at 50% 90%);
          clip-path: circle(120% at 50% 90%);
}

.footer {
  height: 30rem;
  background-color: #161a1d;
  padding: 3em;
  margin-top: 7em;
}

@media (max-width: 600px) {
  .main-container {
    max-width: 30em;
  }
  .background {
    font-size: 1.2em;
    padding: 2em;
    padding-top: 1em;
  }
  .price {
    padding-top: 0;
    padding-bottom: 3em;
  }
}
@media (max-width: 767px) {
  .main-container {
    max-width: 40em;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .main-container {
    width: 45em;
  }
  .main-container__card {
    height: 52em;
  }
  .main-container__card .bookImg {
    width: 28em;
    height: 35em;
    padding: 2em;
  }
  .main-container__card p {
    padding: 0.4em;
    margin-left: 2px;
    margin-right: 2px;
  }
  .main-container__card .author {
    font-size: 1.5em;
  }
  .main-container__card .title {
    font-size: 1.8em;
    font-weight: 700;
  }
  .main-container__card .price {
    font-size: 2em;
    font-weight: 700;
    padding-bottom: 1.8em;
  }
  .main-container__button-more {
    width: 9em;
    height: 3.5em;
    font-size: 2rem;
    padding: 0.5em 0.2em 0.5em 0.2em;
    font-weight: 700;
    box-shadow: 5px 5px 10px rgba(67, 40, 24, 0.7);
  }
  .main-container__button-buy {
    width: 9em;
    height: 3.5em;
    font-size: 2rem;
    padding: 0.5em 0.2em 0.5em 0.2em;
    font-weight: 700;
    box-shadow: 5px 5px 10px rgba(67, 40, 24, 0.7);
  }
}
@media (min-width: 991px) and (max-width: 1200px) {
  .background {
    height: 65rem;
    width: 45rem;
    font-size: 1.2em;
  }
  .main-container {
    padding: 0;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  .main-container__books {
    height: 65rem;
    width: 45rem;
    margin: 15px;
  }
  .main-container__card {
    height: 65rem;
    width: 45rem;
    padding-top: 2em;
  }
  .main-container__card .bookImg {
    width: 20em;
    height: 30em;
    padding: 2em;
  }
  .main-container__card p {
    padding: 0.4em;
    margin-left: 2px;
    margin-right: 2px;
  }
  .main-container__card .author {
    font-weight: 400;
    font-size: 1.3em;
  }
  .main-container__card .title {
    font-size: 1.6em;
  }
  .main-container__card .price {
    font-size: 2em;
    font-weight: 700;
    padding-bottom: 1.8em;
  }
  .main-container__button-more {
    width: 8em;
    height: 3em;
    font-size: 1.8rem;
    bottom: 15px;
    left: 25px;
  }
  .main-container__button-buy {
    width: 8em;
    height: 3em;
    font-size: 1.8rem;
    bottom: 15px;
    right: 25px;
  }
}
@media (min-width: 1201px) {
  .header {
    background-image: radial-gradient(circle, rgba(153, 88, 42, 0.54) 0%, rgba(67, 40, 24, 0.83) 87%), url(../img/bg1-big.jpg);
  }
  .header__heading {
    font-size: 8rem;
  }
  .header__text {
    padding-top: 1em;
    font-size: 5rem;
  }
  .background {
    height: 70rem;
    width: 50rem;
    font-size: 1.4em;
  }
  .main-container {
    padding: 0;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .main-container__books {
    height: 70rem;
    width: 50rem;
    margin: 30px;
  }
  .main-container__card {
    height: 70rem;
    width: 50rem;
    padding-top: 2em;
  }
  .main-container__card .bookImg {
    width: 23em;
    height: 33em;
    padding: 2em;
  }
  .main-container__card p {
    padding: 0.4em;
    margin-left: 2px;
    margin-right: 2px;
  }
  .main-container__card .author {
    font-weight: 400;
    font-size: 1.3em;
  }
  .main-container__card .title {
    font-size: 1.6em;
    font-weight: 700;
  }
  .main-container__card .price {
    font-size: 2.2em;
    font-weight: 700;
    padding-bottom: 1.8em;
  }
  .main-container__button-more {
    width: 8em;
    height: 3em;
    font-size: 1.5rem;
    bottom: 15px;
    left: 25px;
  }
  .main-container__button-buy {
    width: 8em;
    height: 3em;
    font-size: 1.5rem;
    bottom: 15px;
    right: 25px;
  }
}/*# sourceMappingURL=main.css.map */